<footer class="footer footer-center  w-full p-12 text-yellow-200">

  <div class="flex justify-center mb-4">
    <button
      class="cursor-pointer bg-gray-800 px-3 py-2 rounded-md text-white tracking-wider shadow-xl animate-bounce">
      <a href="#header">
        <img src="./../../../assets/svg/arrow.svg" alt="arrow" class="w-5 h-5">
      </a>
    </button>
  </div>

  <div class="text-center">
    <p>Copyright © {{year}} - {{info.name}}</p>
    <!-- <a href="https://www.flaticon.com/free-icons/book" title="book icons">Book icons created by Smashicons - Flaticon</a> -->
    <p class="text-white">Portfolio
      <a href="https://github.com/CarSeP/Portfolio" target="_blank"
        class="font-medium text-yellow-200 hover:underline">Code</a>
    </p>
  </div>

</footer>
