<header id="header">
  <nav>
    <div class="max-w-screen-xl flex flex-wrap justify-between mx-auto p-4">
      <div class="md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse">
        <button type="button" data-dropdown-toggle="language-dropdown-menu" (click)="toggleClass()"
          class="w-40 inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-white rounded-lg cursor-pointer hover:bg-gray-700 hover:text-white">
          @for (item of lang; track $index) {
            @if (item.id === langSvc.language().lang) {
              <img [src]="item.flag" alt="flag" class="w-5 h-5 rounded-full me-3">
              {{item.name}}
            }
          }
        </button>
        <!-- Dropdown -->
        <div class="w-40 z-50 my-2 text-base list-none  divide-y rounded-lg shadow bg-gray-700 absolute"
          id="language-dropdown-menu" [class.hidden]="class()">
          <ul class="py-2 font-medium" role="none">
            @for (item of lang; track $index) {
            <li (click)="translate(item.id)" class="cursor-pointer">
              <div class="block px-4 py-2 text-sm text-gray-400 hover:bg-gray-600 hover:text-white" role="menuitem">
                <div class="inline-flex items-center">
                  <img [src]="item.flag" alt="uk flag" class="h-3.5 w-3.5 rounded-full me-2">
                  {{item.name}}
                </div>
              </div>
            </li>
            }
          </ul>
        </div>
        <button data-collapse-toggle="navbar-language" type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-language" aria-expanded="false">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>
      </div>
      <div class="justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-language">
        <ul
          class="flex flex-col font-medium p-4 md:p-0 mt-4 border md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
          <li>
            <a href="#home"
              class="block py-2 px-3 md:p-0 rounded md:hover:bg-transparent text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-whiteborder-gray-700">{{langSvc.header().home}}</a>
          </li>
          <li>
            <a href="#projects"
              class="block py-2 px-3 md:p-0 rounded md:hover:bg-transparent text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-whiteborder-gray-700">{{langSvc.header().projecs}}</a>
          </li>
          <li>
            <a href="#skills"
              class="block py-2 px-3 md:p-0 rounded md:hover:bg-transparent text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-whiteborder-gray-700">{{langSvc.header().skills}}</a>
          </li>
          <li>
            <a href="#contact"
              class="block py-2 px-3 md:p-0 rounded md:hover:bg-transparent text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-whiteborder-gray-700">{{langSvc.header().contactMe}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
