@import "tailwindcss";

@theme {
  --text-tiny: 1rem;
  --breakpoint-xs: 30rem;
  --color-background-base: #f8fafc;
  --color-background-secondary: #ffffff;
  --color-background-tertiary: #e2e8f0;
  --color-text-primary: #1a1a1a;
  --color-accent-primary: #edbc1a;
  --color-accent-secondary: #757f8d;
  --color-badge-background: #fdf4da;
  --color-badge-text: #747c85;
  --color-special-primary: #f1f3f4;
  --color-special-secondary: #f1f5f9;
}

.dark {
  --color-background-base: #1f2937;
  --color-background-secondary: #172032;
  --color-background-tertiary: #374151;
  --color-text-primary: #ffffff;
  --color-accent-primary: #eebd1a;
  --color-accent-secondary: #9299a6;
  --color-badge-background: #44422b;
  --color-badge-text: #c6c9cd;
  --color-special-primary: #18202f;
  --color-special-secondary: #101825;
}

.lightThemeIcon {
  display: block;
}

.dark .lightThemeIcon {
  display: none;
}

.darkThemeIcon {
  display: none;
}

.dark .darkThemeIcon {
  display: block;
}
